<% if current_customer %>
<% @orders.each do |order| %>
<div class="card mb-3" style="max-width: 540px;">
 <% order.line_items.each do |item| %>
<%# binding.pry %>
 <div class="row g-0">
  <div class="col-md-4">
    <%= image_tag(item.product.avatar.url, :size => "240x200", alt: 'Image') if item.product.avatar? %>
  </div>
  <div class="col-md-8">
    <div class="card-body">
      <h5 class="card-title"><%= item.product.product_name %></h5>
      <p class="card-text">Status: <%= order.status %></p>
      <h5 class="card-text"><small class="text-muted">Product Price:<%= item.product.price %></small></h5>
      <h5 class="card-text"><small class="text-muted">Total Price: <%= order.pay_methed %></small></h5>
      <h5 class="card-text"><small class="text-muted"><%= link_to 'Details', order %></small></h5>
    </div>
  </div>
</div>
<% end %>
</div>
<% end %>
<% end %>


<style>
  .text-muted {
    background: none;
    color: var(--light)!important;
  }
</style>



