<%= form_for(@order) do |f| %>
<p>
  <%= f.label :name %><br>
  <%= f.text_field :name, required: true, autofocus: true %>
</p>
<p>
  <%= f.label :email %><br>
  <%= f.email_field :email, required: true, autofocus: true %>
</p>
<p>
  <%= f.label :mobile %><br>
  <%= f.number_field :mobile %>
</p>
<p>
  <%= f.label :address %><br>
  <%= f.text_area :address %>
</p>
<p>
  <%= f.label :pin_code %><br>
  <%= f.number_field :pin_code %>
</p>
<p>
  <%= f.label :city %><br>
  <%= f.text_field :city %>
</p>
<p>
  <%= f.label :state %><br>
  <%= f.text_field :state %>
</p>
<p>
  <%= f.submit %>
</p>
<% end %>